<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <nav class="footer_sub_nav">
        <ul class="menu">
          <li>
            <a href="/status">Design</a>
          </li>
          <li>
            <a href="/security">Develop</a>
          </li>
          <li>
            <a href="/legal">Devops</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="bottom_footer">
      <div class="footer-copyright">
        <p class="copyright">
          Copyright © 2018 Jeff Johnson. All rights reserved. </p>
      </div>
      <div class="footer_social_nav">
        <ul class="nav-social">
          <li class="leaf">
            <a href="https://www.linkedin.com/in/jeff-johnson-b5898295/" class="fa fa-linkedin">Linkedin</a>
          </li>
          <li class="leaf">
            <a href="https://www.facebook.com/jeff.johnson.37625843" class="fa fa-facebook">Facebook</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>